extends ../layout 

block content 
  a(href=`/category/${category._id}/update`) Update This Category
  p= category.description 
  ul 
   each part in parts 
    li 
      a(href=part.url) #{part.name}
   else 
      p 
        i There are no parts for this category.